.social_media_icons{
    width: 30px;
    height: 30px;
}

.in-line{
    display: inline;
    margin: 3px;
}

.in-line1{
    display: inline;
    size: 40px;
}

#spanning{
    margin:100px;
    color:white
}

button{
    background-color: white;
    border: 1px solid black;
    height: 40px;
    padding: 0 10px;
}

.container{
    background-color: #1a5fff;
    height: 70px;
    text-align: center;
}


.container1{
    text-align: center;
}

#logo{
    width: 200px;
    height: 80px;
}

#home{
    background-color:  #1a5fff;
    padding: 10px;
    border-radius: 30px;
    color: white;
}

.hover:hover{
        background-color:  #1a5fff;
        border-radius: 30px;
        color: white;
}  
  

#banner{
    width:100%;
    height: 400px;
}

.headline-news{
    text-align: center;
    background-color:#1a5fff;
}

.intro_heading {
    font-size: 45px;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.saylani_logo {
    border: 2px solid white;
    border-radius: 40px;
    margin-left: 45%;
}

.intro_text {
    width: 80%;
    margin: 1% auto;
    text-align: justify;
    line-height: 2em;
}

@media (max-width: 952px){
.box {
    background: blue;
    position: flex;
    text-align: center;
}
}
.box {
    background: blue;
    position: relative;
    margin: 40px auto;
    text-align: center;
}

.box div {
    display: inline-block;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    margin: 10px;
    padding: 25px;
}

.box_1 {
    text-align: center;
    overflow: hidden;
    
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.box_1 div {
    display: inline-block;
    width: 30%;
    height: 200px;
    text-align: center;
    padding: 40px 5px 5px 5px;
    margin: 20px 0px 20px 0px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.mission {
    text-align: center;
    margin-top: 40px;
}

.all_project {
    width: 45%;
    height: 200px;
    display: inline-block;
    margin: 40px 10px 40px 40px;
    color: blue;
}

.row {
    margin: 0 -5px;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin: 3px 0px 3px 0px;
}

.upcoming_event {
    width: 45%;
    height: 210px;
    display: inline-block;
    position: relative;
    top: -25px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 16px;
    text-align: center;
    background: white;
    border-radius: 5px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 16px;
    text-align: center;
    background: white;
    border-radius: 5px;
}

.img_gallery {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 700px;
}

.img_gallery h1 {
    font-size: 50px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 952px){
.info_box {
    font-size: 15px;
}
}
.info_box {
    position: relative;
    padding: 10px;
    background: black;
    opacity: 0.8;
    color: white;
    line-height: 20px;
    font-size: 15px;
}

.info_box .info {
    border: 3px solid black;
}
@media (max-width: 952px){
.info_box div {
    display: block;
}
}
.info_box div {
    display: inline-block;
    padding-top: 20px;
}

.info_box .info ul li{
    list-style-type: none;
}
.info_box .info ul li .tag1{
    color: green;
    padding:20px ;
}

.info_box .info ul li .mail{
    color: green;
    font-weight: bold;
}

.copy_right {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-phone:before {
    content: "\f095";
}

.fa-envelope:before {
    content: "\f0e0";